body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.header{
    width: 100%;
    height: 100px;
    background-color: black;
    float: left;
    position: sticky;


}
.logo{
    display: flex;
    color: #fff;
    margin-top: 3%;
    transition: 0.5s ease;
    
}
.logo img{
    margin-top: -20px;
}
.logo img:hover{
    transform: scale(1.1);
}
/* .logo-1{
    margin-top: 20px;
} */
.menu{
    width: 100%;
    height: auto;
    float: right;
}
.menu ul{
    float: right;
    margin-right:150px ;
    margin-top: -25px; 

}
.menu ul li{
  display: inline-block;
} 
.menu ul li a{
    color: white;
    font-size: 22px;
   font-family: 'Plus Jakarta Sans', sans-serif;
   text-decoration: none;
   padding: 0px 30px;
   transition: 0.3s ease; 

}
.menu ul li a:hover{
  border-bottom: 2px solid white ;
  border-radius: 25px;
  box-shadow: 0px 0px 20px;
  padding: 15px 25px;
}
.menu ul li .active{
    color: white;
}
#check{
    display: none;
}
label, #checkbtn
label, #cancel{
    font-size: 2rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
@media screen and (max-width:600px){
    .menu ul li{
        line-height: 3rem;
        margin-top: 50px;
        display: block;
        text-align: start;
    }
    ul{
       position: fixed;
        width: 100%;
        height: 40vh;
        background-color: rgb(60, 60, 61);
        left: -115%;
        top: 16%;
        transition: all 0.5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
    label, #checkbtn
    label, #cancel{
        display: flex;
        margin-top: 15px;
    }
    label, #cancel:hover{
        display: flex;
    }
    .logo img {
        /* display: none; */
        margin-top: 20px;
    }


}
.imgg-box{
    width: 100%;
    height: 1000px;

}
.center img{
    width: 100%;

}
.info{
    font-size: 20px;
    margin-top: -900px;
    margin-left: 150px;
}
.info-p{
    font-size: 40px;
    margin-left: 150px;
    font-family: "Pacifico", cursive;
}
/* .container{
    width: 100%; */
    /* height: auto; */
    /* background-color: black; */
/* } */
/* .logo {
    background: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 px 100px;
    height: 93px;
    
  } */
  /* .logo img {
    font-size: 30px;
    margin-left: 50px;
  }
  nav{
    flex-direction: row;
    width: 500px;
    display: flex;
    gap: 5rem;
    margin-left: 1200px;
  }
  
  nav a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
  }
   */
  
/*   
  .img-about img{
      width: 100%;
      height: 1000px;
  }
  .info {
      margin-left: 5%;
      margin-top: -48%;
      font-size: 30px;
  } */
  /* .info-p{
      font-size: 2rem;
      display: flex;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 65%;
      font-size: 36px;
      margin-top: 1%;
  } */
  /* .infote1{
    margin-left: 5%;
    margin-top: -45%;
    font-size: 30px;
  } */
  /* button{
      width: 290px;
      height: 60px;
      background-color: #F9F9F9;
      color: #1A1A1A;
      font-size: 25px;
      border-radius: 30px ;
      border: none;
      font-weight:700;
      Padding:25px, 220px, 25px, 220px ;
      gap: 15px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 65%;
      margin-top: 2%;
  } */
      /* @media only screen and (max-width: 600px){ */
          /* nav {
              display: none;
          }
          header .dropdown-menu {
              display: block;
            } */
            /* .info{
              font-size: 13px;
              margin-left: 50px;
              margin-top: -50%;
          } */
          /* .info-p{
              font-size: 2rem;
              margin-left: 50px;
              font-size: 15px;
              margin-top: 3%;
          }
          button{
              width: 90px;
              height: 30px;
              font-size: 10px;
              border-radius: 20px ;
              gap: 15px;
              margin-left: 50px;
              margin-top: 4%;
          } */
.box1{
    width: 85%;
    height: auto;
    overflow: hidden;
    /* background-color: yellow; */
    margin: auto;
    margin-top: 230px;
}
.textbox1{
    width: 100%;
    height: 250px;
    /* background-color: pink; */
    font-family: 'Plus Jakarta Sans', sans-serif;
}
h1.textbox1-1{
    font-size: 64px;
    /* line-height: 1.5; */
    margin-top: 150px;
}
p.textbox1-2{
    font-size: 30px;
    /* line-height: 1.5; */

}
.picture{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.picturebox1{
    margin-top: 100px;
    background-color: white;
    width: 80%;
    height: 700px;
    margin-left: -200px;
}
.picturebox1 img{
    width: 100%;
    height: 100%;
}
.picturebox2{
    width:40%;
    height: 700px;
    /* background-color:rgb(244, 252, 245); */
    float: right;
    margin-top: -700px;
}
.picturebox2 img{
    width: 100%;
    height: 100%;
}
/* .text{
    width: 100%;
    height: 300px;
    margin-top: 20px;
} */
p.textleft{
  
    line-height: 1.5;
    font-size: 28px;
    width: 45%;
    height: 300px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* background-color: rgb(190, 36, 36); */
    /* margin-top: 20px; */
}
p.textright{
    line-height: 1.5;
    font-size: 28px;
    width: 45%;
    height: 300px;
    /* background-color: blue; */
    float: right;
    margin-top: -330px;
    /* margin-right: 0; */
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.box2{
    width: 85%;
    height: auto;
    overflow: hidden;
    /* background-color: purple; */
    margin: auto;
    margin-top: 30px;
}
h1.textbox4{
    text-align: center;
    font-size: 50px;

    /* line-height: 3; */
    /* background-color: blue; */
}
.box2 h1{
margin-top: 50px;
}

.textbox5{
    margin-right: 0px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* background-color: orange; */
    /* margin: auto; */
}
.textbox5-1{
    width: 360px;
    height: 320px;
    /* background-color: blue; */
    margin-left: 500px;
    float: right;
    margin: auto;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 10px;
}
.textbox5-1-1{
    width: 80%;
    height: 250px;
    margin: auto;
    /* background-color: blanchedalmond; */
    margin-top: 35px;
}
.textbox5-1-1-1{
    width: 100%;
    height: 30px;
    margin-left: 1px;
    /* background-color: rgb(27, 202, 21); */
    margin-top: 50px;
    font-size: 25px
}
.textbox5-1-1-1 a i{
    color: black;
    font-size:30px;
}
.textbox5-1-1-1-2{
    width: 300px;
    /* background-color: yellow; */
    margin-left: 50px;
    margin-top: -30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.textbox5-1-1-2{
    width: 100%;
    height: 220px;
    /* background-color: rgb(194, 114, 17); */
    font-size: 17px;
    margin-top: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
}
 @media all and (max-width:600px){  
    .info{
        margin-top: -380px;
        margin-left: 35px;
    }
    .info-p{
        margin-left: 30px;
    }
    .box1{
        margin-top: -600px;
    }
.textbox1-1{
    font-size: 64px;
    font-weight: 550;
}
.textbox1-2{
    font-size: 25px;
    width: 500px;
}
.picturebox1{
    width: 900px;
    height: 600px;
    overflow: hidden;
    margin-top: 120px;
}
.picturebox2{
    float: left;
   margin-top: 90px;
   width: 400px;
   height: 300px;
   /* background-color: black; */
}
.picturebox2 img{
    margin-left: -105px;
    width: 100%;
    height: 300px;
    float: left;
    margin-top: -50px;
}
p.textleft{
    /* margin-top: -200px; */
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
   font-size: 23px;
   /* background-color: yellow; */
   flex-direction: column;


}
p.textright{
    width: 100%;
   font-size: 23px;
   /* background-color: rgb(216, 80, 102); */
   flex-direction: column;
   float: left;
   margin-top: 30px;
}
.textbox4{
    width: 90%;
    text-align: left;
    font-size: 10px;
    line-height: 1.5;
}
.textbox5{
    margin-top: 50px;
    align-items: center;
    margin-left: 30px;
    
}
.textbox5-1-1-2{
    font-size: 17px;
}

 }

 @media all and (max-width:600px){
    /* head{
        padding-bottom: 10px;
    } */
    h1.textbox1-1{
        font-size: 64px;
        font-weight: 550;
    }
    p.textbox1-2{
        width: 600px;
        font-size: 25px;
    }
    .picturebox1{
        width: 900px;
        height: 600px;
        overflow: hidden;
        margin-top: 120px;
    }
    .picturebox2{
        float: left;
       margin-top: 90px;
       width: 400px;
       height: 300px;
       /* background-color: black; */
    }
    .picturebox2 img{
        margin-left: -105px;
        width: 100%;
        height: 300px;
        float: left;
        margin-top: -50px;
    }
    p.textleft{
        /* margin-top: -200px; */
        display: flex;
        width: 100%;
        height: auto;
        overflow: hidden;
       font-size: 23px;
       /* background-color: yellow; */
       flex-direction: column;
    
    
    }
    p.textright{
        width: 100%;
       font-size: 23px;
       /* background-color: rgb(216, 80, 102); */
       flex-direction: column;
       float: left;
       margin-top: 30px;
    }
    h1.textbox4{
        width: 50%;
        text-align: left;
        font-size: 35px;
        line-height: 1.5;
        margin-top: 0px;
        /* background-color: yellow; */
    }
    .textbox5{
        margin-top: 50px;
        align-items: center;
        margin-left: 30px;
        
    }
    .textbox5-1-1-2{
        font-size: 17px;
    }
    
     }
     .footer {
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: black;
        margin: auto;
        margin-top: 50px;
      }
      .img-box {
        background-image: url(Rectangle\ 2\(1\).svg);
        background-position: center;
        height: 1000px;
        width: 100%;
        object-fit: cover;
        background-color: black;
      
        background-size: cover;
      }
      
      .txt {
        width: 40%;
        height: 60%;
        margin-left: 100px;
        color: white;
        align-items: center;
        display: flex;
      }
      .txt1 h1{
        font-size: 35px;
      
      }
      .txt1 p{
        font-size: 25px;
      }
      .img-box button {
        width: 250px;
        height: 55px;
        background-color: white;
        border-radius: 50px;
        font-size: 20px;
      }
      .txt2 {
        width: 100%;
        height: 100px;
        background-color: black;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 30px;
      }
      .txt2 p {
        color: white;
        font-size: 20px;
      }
      .txt3 {
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
       
      }
      .txt3 p {
        color: white;
        font-size: 20px;
      }
      @media all and (max-width: 600px){
        .txt1 h1{
        font-size: 3rem;
        margin-left: -30px;
        width: 100%;
        display: block;
        width: 400px;
        margin-top: 250px;
        
      
        }
        .txt1 p{
          font-size: 1.5rem;
          margin-left: -30px;
          margin-top: 40px;
        }
        .img-box button{
          margin-left: -30px;
          width: 200px;
          height: 50px;
        }
      
      }
      @media all and (max-width: 600px) {
        .txt2{
          flex-direction: column;
        }
        .txt3{
          margin-top: 100px;
        }
      
      }
      @media all and (max-width: 600px){
        .txt1 button{
          font-size: 15px;
          height: 70px;
          width: 200px;
          margin-top: 150px;
      
        }
      }
      @media all and (max-width:600px) {
        .footer{
          width:100%x;
          background-color: black;
          
        }
    .box1{
        /* margin-top: -0px; */
    }
        
      }
    
