body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.header{
  width: 100%;
  height: 100px;
  background-color: black;
  float: left;
  position: sticky;


}
.logo{
  display: flex;
  color: #fff;
  margin-top: 3%;
  transition: 0.5s ease;
  
}
.logo img{
  margin-top: -20px;
}
.logo img:hover{
  transform: scale(1.1);
}
.menu{
  width: 100%;
  height: auto;
  float: right;
}
.menu ul{
  float: right;
  margin-right:150px ;
  margin-top: -25px; 

}
.menu ul li{
display: inline-block;
} 
.menu ul li a{
  color: white;
  font-size: 22px;
 font-family: 'Plus Jakarta Sans', sans-serif;
 text-decoration: none;
 padding: 0px 30px;
 transition: 0.3s ease; 

}
.menu ul li a:hover{
border-bottom: 2px solid white ;
border-radius: 25px;
box-shadow: 0px 0px 20px;
padding: 15px 25px;
}
.menu ul li .active{
  color: white;
}
#check{
  display: none;
}
label, #checkbtn
label, #cancel{
  font-size: 2rem;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  
}
@media screen and (max-width:600px){
  .menu ul li{
      line-height: 3rem;
      margin-top: 50px;
      display: block;
      text-align: start;
  }
  ul{
     position: fixed;
      width: 100%;
      height: 40vh;
      background-color: rgb(60, 60, 61);
      left: -115%;
      top: 16%;
      transition: all 0.5s;
  }
  #check:checked ~ ul{
      left: 0;
  }
  label, #checkbtn
  label, #cancel{
      display: flex;
      margin-top: 15px;
  }
  label, #cancel:hover{
      display: flex;
  }
  .logo img {
      margin-top: 20px;
  }


}

.immg-box{
    width: 100%;
    height: 1000px;
    background-size: cover;
}
.immg-box img{
width: 100%;
}

.zero{
    margin-top: -720px;
    display: block;
    margin-left: 1150px;
    font-size: 20px;
}
.pedaling{
    margin-top: 20px;
    display: block;
    margin-left: 1150px;
    font-size: 36px;
    width: 500px;
}
.button button{
    /* margin-top: -500px; */
    /* display: block; */
    margin-left: 1150px;
    padding: 15px;
    width: 210px;
    background-color: white;
    border-radius: 40px;
    font-size: 14px;
    margin-top: 20px;
}
.button a{
    text-decoration: none;
}


@media all and (max-width: 600px){
  .imgg{
     width: 100%;
  }
  .zero{
     margin-right: -1000px;
     margin-top: 100px;
     display: flex;
  }
  .pedaling{

  }
  .button{

  }
}

/* 
.product-slider{
  font-size: 20px;
} */







p{
  display: flex;
  gap: 5rem;
}
span{
  width: 90px;
  height: 70px;
  background-color: rgba(166, 166, 170, 0.61);
  border-radius: 50px;
  justify-content: center;
  text-align: center;

}
.menn{
  margin-top: 400px;
}
.men{
  width: 100%;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  /* background-color: burlywood; */
  overflow-x: auto;
  margin-top: 50px;


}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.scroll-product .slide-1{
  min-width: 33.3%;
  height: 90%;
  border-radius: 20px;
  gap: 30px;
  /* background-color: #405675; */
  align-items: center;
  justify-content: center;
  
  
  
}
  
.scroll-product .slide-2{
  min-width: 33.3%;
  height: 90%;
  border-radius: 20px;
  gap: 30px;
  /* background-color: #405675; */
  align-items: center;
  justify-content: center;
  
  
  
}
.product{
  width: 100%;
  height: auto;
  overflow: hidden;
  /* background-color: rgb(97, 70, 36); */
  align-items: center;
  justify-content: center;

}
.product-img{
  width: 600px;
  height: auto;
  overflow: hidden;
  /* background-color: #3498db; */
  margin-left: auto;
  margin-right: auto;

}
.product-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-type{
  color: rgb(0, 0, 0);
  font-size: 20px;
  overflow: hidden;
  height: 40px;
  width: 100%;
  margin-left: 34px;
}

.product-info {
  background-color: white;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
}

.product-row-1{
  width: 55%;
  height: auto;
  /* background-color: turquoise; */
  overflow: hidden; 
  margin-left: 15px;
  padding: 20px;
}
.product-row-1 p{
    color: gray;
    text-decoration: line-through black;
    font-size: 25px;
}
.product-row-2 {
  width: 50%;
  height: auto;
  /* background-color: turquoise; */
  overflow: hidden;
  text-align: end;
  padding: 20px;
}




















.footer {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    background-color: black;
    margin: auto;
    margin-top: 100px;

  }
  .img-box {
    background-image: url(Rectangle\ 2\(1\).svg);
    background-position: center;
    height: 1000px;
    width: 100%;
    object-fit: cover;
    background-color: black;
  
    background-size: cover;
  }
  
  .txt {
    width: 40%;
    height: 60%;
    margin-left: 100px;
    color: white;
    align-items: center;
    display: flex;
  }
  .txt1 h1{
    font-size: 35px;
  
  }
  .txt1 p{
    font-size: 25px;
  }
  .img-box button {
    width: 250px;
    height: 55px;
    background-color: white;
    border-radius: 50px;
    font-size: 20px;
  }
  .txt2 {
    width: 100%;
    height: 100px;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .txt2 p {
    color: white;
    font-size: 20px;
  }
  .txt3 {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
   
  }
  .txt3 p {
    color: white;
    font-size: 20px;
  }
  @media all and (max-width: 600px){
    .txt1 h1{
    font-size: 3rem;
    margin-left: -30px;
    width: 100%;
    display: block;
    width: 400px;
    margin-top: 250px;
    
  
    }
    .txt1 p{
      font-size: 1.5rem;
      margin-left: -30px;
      margin-top: 40px;
    }
    .img-box button{
      margin-left: -30px;
      width: 200px;
      height: 50px;
    }
  
  }
  @media all and (max-width: 600px) {
    .txt2{
      flex-direction: column;
    }
    .txt3{
      margin-top: 100px;
    }
  
  }
  @media all and (max-width: 600px){
    .txt1 button{
      font-size: 15px;
      height: 70px;
      width: 200px;
      margin-top: 150px;
  
    }
  }
  @media all and (max-width:600px) {
    .footer{
      width:100%x;
      background-color: black;
      
    }
.box1{
    /* margin-top: -0px; */
}
    
  }
